/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
  border: 2px solid #666;
}

body {
  background: #f5f5f5;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

strong {
  font-weight: bold;
}

header {
  background: #2962ff;
  height: 40px;
  align-items: center;
  display: flex;
  padding: 0 0 0 10px;

  img {
    height: 48px;
  }

  h1 {
    color: #fff;
    font-size: 15px;
  }

  .counter {
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 20px;
  }
}

.splash-screen {
  background: #f5f5f5;
  color: #000;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  border-top: 5px solid #2962ff;

  img {
    width: 150px;
    margin: 20px 0;
    min-height: 120px;
  }

  @media only screen and (max-width: 64em) {
    display: block;
    position: fixed;
    overflow-y: scroll;
  }

  &.hide {
    display: none;
  }

  .splash-content {
    width: 60%;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

    @media only screen and (max-width: 64em) {
      width: 75%;
      padding: 30px 0;
      font-size: 12px;

      p {
        line-height: 18px !important;

        br {
          display: none;
        }
      }

      h2 {
        line-height: 24px;
      }
    }

    .start-now {
      background: #2962ff;
      color: #fff;
      padding: 15px 20px;
      width: 120px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      cursor: pointer;
      margin: 30px;
    }

    p {
      margin: 10px 0;
      line-height: 22px;

      span {
        border-bottom: dotted 1px;
      }
    }

    .publications {
      margin: 30px 0;
      font-size: 11px;

      h3 {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0 0 15px 0;
        border-bottom: dotted 1px;
        display: inline-block;
      }

      ol {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        li {
          margin: 5px 0 0 0;
          line-height: 11px;
          font-weight: normal;

          span {
            display: flex;
            margin: 0 0 5px;
            font-weight: bold;

            a {
              color: #263238;
            }
          }
        }
      }

      @media only screen and (max-width: 64em) {
        a {
          text-decoration: none;
        }
      }
    }

    h2 {
      font-size: 24px;
      margin: 0 0 30px 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.wrapper {
  font-family: 'Noto Serif', serif;

  .main-ui {
    display: flex;
    width: 100%;
    justify-content: center;

    .start-over {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 120px 0;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;

      img {
        height: 150px;
      }

      .start-over-btn {
        padding: 18px;
        text-transform: uppercase;
        margin: 20px 0;
        color: #fff;
        background: #2962ff;
        cursor: pointer;
        font-size: 18px;
      }

      h2 {
        font-weight: bold;
        line-height: 40px;
      }
    }
  }

  .loader {
    padding: 150px 0;
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 64em) {
    width: 80%;
  }

  @media only screen and (max-width: 48em) {
    width: 100%;
  }

  .message-area {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    position: absolute;

    @media only screen and (max-width: 64em) {
      width: 100%;
      height: calc(100% - 200px);
      overflow: hidden;
      overflow-y: scroll;
      position: absolute;
      top: 40px;
    }

    @media only screen and (max-width: 48em) {
      width: 100%;
    }
  }

  .question-block {
    padding: 50px 0 20px 0;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    display: none;

    &.show {
      display: flex;

      @media only screen and (max-width: 64em) {
        padding: 10px 0;
      }

      @media only screen and (max-width: 48em) {
        padding: 10px 0;
      }
    }

    .provided-question {
      font-weight: bold;
      font-size: 22px;
      margin: 0 0 25px 0;
      line-height: 30px;
      background: #fff;
      padding: 30px;
      border-radius: 15px;
      width: 90%;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: auto;
        height: auto;
        left: -14px;
        bottom: -7px;
        border-left: 1px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid #fff;
        transform: rotate(45deg);
      }

      @media only screen and (max-width: 64em) {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 5px 0;
        padding: 20px;
      }

      @media only screen and (max-width: 48em) {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

  .answer-block {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;

    &.show {
      display: flex;

      @media only screen and (max-width: 64em) {
        margin: 20px 0 0 0;
      }
    }

    .provided-answer {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      width: 85%;
      background: #eee;
      padding: 20px 30px 20px;
      border-radius: 15px;
      color: #000;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: auto;
        height: auto;
        right: -14px;
        bottom: -7px;
        border-left: 1px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid #eee;
        transform: rotate(45deg);
      }

      @media only screen and (max-width: 64em) {
        font-size: 15px;
        line-height: 17px;
      }

      @media only screen and (max-width: 48em) {
        font-size: 15px;
        line-height: 17px;
      }
    }
  }

  .follow-up-input {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2962ff;
    color: #fff;
    padding: 10px 0;

    @media only screen and (max-width: 64em) {
      height: 110px;
    }

    @media only screen and (max-width: 48em) {
      height: 110px;
    }

    .inputs {
      display: flex;
      width: 40%;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 64em) {
        width: 90%;
      }

      @media only screen and (max-width: 48em) {
        width: 90%;
      }

      fieldset {
        width: 100%;
      }

      .submit-btn {
        background: #fff;
        border: solid 2px #fff;
        color: #2962ff;
        text-transform: uppercase;
        height: 90px;
        padding: 0 10px;
        margin: 0 0 0 10px;
        font-weight: bold;
        opacity: 0.3;
        pointer-events: none;

        &.enabled {
          opacity: 1;
          pointer-events: all;
          cursor: pointer;
        }
      }
    }

    .input-area {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 10px 0;

      @media only screen and (max-width: 64em) {
        width: 100%;
      }

      @media only screen and (max-width: 48em) {
        width: 100%;
      }

      .input-number {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        padding: 5px;
        height: 14px;
        width: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 0;
        display: none;
      }

      input {
        width: 100%;
        height: 20px;
        font-size: 18px;
        padding: 10px;
        background: #2962ff;
        color: #fff;
        border: none;
        border: 1px solid #fff;
        opacity: 1;

        &::-webkit-input-placeholder {
          color: #e1f5fe;
          opacity: 0.9;
        }

        &::-moz-placeholder {
          color: #e1f5fe;
          opacity: 0.9;
        }

        @media only screen and (max-width: 64em) {
          width: 80%;
          font-size: 15px;
        }

        @media only screen and (max-width: 48em) {
          width: 92%;
          font-size: 15px;
        }
      }
    }

    h3 {
      width: 38%;
      font-size: 15px;
      text-transform: uppercase;
      padding: 0 0 20px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      display: none;

      @media only screen and (max-width: 64em) {
        width: 80%;
      }

      @media only screen and (max-width: 48em) {
        width: 92%;
      }
    }
  }
}
